# Exercise 2 (Use the Olympic data)

#### Question (1)
- Find the number of Gold, Silver, and Bronze won by the Women in Gymnastics sport.

In [2]:
#Import Pandas
import pandas as pd

In [3]:
#Loading the csv.file
df = pd.read_csv('/Users\FELIX\DaSciPySQL\Data\Olympics_data\olympics.csv')
df

,"List of medallists at the Games of the Olympiad per edition, sport, discipline, gender and event",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,DISCLAIMER: The IOC Research and Reference Ser...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
4,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
...,...,...,...,...,...,...,...,...,...,...
29215,Beijing,2008,Wrestling,Wrestling Gre-R,"ENGLICH, Mirko",GER,Men,84 - 96kg,M,Silver
29216,Beijing,2008,Wrestling,Wrestling Gre-R,"MIZGAITIS, Mindaugas",LTU,Men,96 - 120kg,M,Bronze
29217,Beijing,2008,Wrestling,Wrestling Gre-R,"PATRIKEEV, Yuri",ARM,Men,96 - 120kg,M,Bronze
29218,Beijing,2008,Wrestling,Wrestling Gre-R,"LOPEZ, Mijain",CUB,Men,96 - 120kg,M,Gold
29219,Beijing,2008,Wrestling,Wrestling Gre-R,"BAROEV, Khasan",RUS,Men,96 - 120kg,M,Silver

In [4]:
#Renaming column to make it easier to read the data
df.columns = ['City','Edition','Sport','Discipline','Athlete','NOC','Gender','Events','Event_gender','Medal']
df

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Events,Event_gender,Medal
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,DISCLAIMER: The IOC Research and Reference Ser...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
4,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
...,...,...,...,...,...,...,...,...,...,...
29215,Beijing,2008,Wrestling,Wrestling Gre-R,"ENGLICH, Mirko",GER,Men,84 - 96kg,M,Silver
29216,Beijing,2008,Wrestling,Wrestling Gre-R,"MIZGAITIS, Mindaugas",LTU,Men,96 - 120kg,M,Bronze
29217,Beijing,2008,Wrestling,Wrestling Gre-R,"PATRIKEEV, Yuri",ARM,Men,96 - 120kg,M,Bronze
29218,Beijing,2008,Wrestling,Wrestling Gre-R,"LOPEZ, Mijain",CUB,Men,96 - 120kg,M,Gold
29219,Beijing,2008,Wrestling,Wrestling Gre-R,"BAROEV, Khasan",RUS,Men,96 - 120kg,M,Silver

In [5]:
#Create a list in other to filter the required categories
gen = ['Women','Gymnastics']

#Checking the required Columns in the created list
filt = df['Gender'].isin(gen) & df['Sport'].isin(gen)

#Printing a statement for the result
print("The table below contains the number of Gold, Silver, and Bronze won by the Women in Gymnastics sport :\n" )

#locating the Medal column using the defined filter
pd.DataFrame(df.loc[filt, 'Medal'].value_counts())

The table below contains the number of Gold, Silver, and Bronze won by the Women in Gymnastics sport :

        Medal
Gold      250
Bronze    250
Silver    245

#### Question (2)
- Find the number of Men who lives in Los Angeles and in Football Discipline.

In [7]:
#Create a list in other to filter the required categories (Men)
gen = ['Men']

#Checking the required Columns if they meet the requirement in  the question 
filt2 = (df['NOC'] == 'Los Angeles') & (df['Discipline'] == 'Football')

#Creating a variable to locate, check and sum the requirement in the Gender column using the defined filter
num_men = df.loc[filt2, 'Gender'].isin(gen).sum()
num_men

#Setting a conditionaL statement incase we have no result
if num_men == 0:
    print("There isn't a record of Men who live in Los Angeles and are in Football Discipline.")
else:   
    print('There are',num_men,"Men who live in Los Angeles and are in Football Discipline.")

There isn't a record of Men who live in Los Angeles and are in Football Discipline.